.home-wrapper {
  margin: ($base-size * 3.5) auto;
  padding: ($base-size * 6) ($base-size * 4);
  background: $color-light;
  border-bottom: 1px solid lighten($color-dark, 70%);
  border-radius: $radius;
}

.home-banner {
  position: relative;
  color: $color-light;
  height: 250px;
}

.home-buttons {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 5px;
}

.btn-order-online,
.btn-book-a-table {
  font-size: 24px;
  font-weight: bold;
  text-transform: uppercase;
  position: relative;
  flex: auto;
  // width: 100%;
  height: 120px;
  border-radius: 4px;
  overflow: hidden;
}

.btn-order-online img,
.btn-book-a-table img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: absolute;
}

.btn-order-online span,
.btn-book-a-table span {
  position: absolute;
  color: white;
  font-family: $font-header;
  text-align: center;
  object-fit: cover;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.btn-order-online:hover span,
.btn-book-a-table:hover span {
  transform: translate(-50%, -25px);
  transition: transform 0.3s ease;
}

.opening-hours {
  background-color: $color-main;
  height: 100px;
  font-size: 24px;
  border-radius: 4px;
  margin-top: -20px;
}

.opening-hours-header {
  font-family: $font-header;
  text-align: center;
  justify-content: center;

  transform: translate(0%, 45%);
}

.opening-hours-header2 {
  text-align: center;
  font-size: 11px;

  transform: translate(0%, -45%);
}

// .home-carousel {
//   margin: 20px 0;

//   .carousel-cell {
//     background: #fff;
//     border: 1px solid #ddd;
//     padding: 20px;
//     margin: 0 10px;
//     text-align: center;

//     .img-carousel {
//       max-width: 100%;
//       height: auto;
//       margin-bottom: 15px;
//     }

//     p {
//       margin: 10px 0;
//       font-size: 16px;
//     }

//     .author {
//       font-style: italic;
//       font-size: 14px;
//     }
//   }
// }

.home-gallery {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 10px;
  margin-bottom: 25px;

  .gallery-item {
    position: relative;
    flex: auto;
    width: 190px;
    height: 190px;

    img {
      width: 100%;
      height: 100%;
      object-fit: cover;
      border-radius: 4px;

      &:hover {
        transform: scale(1.05);
      }
    }

    .overlay {
      position: absolute;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: rgba(0, 0, 0, 0.3);
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 15px;
      // opacity: 0;
      // transition: opacity 0.2s;
    }

    i {
      // color: $color-light;
      font-size: 24px;
      opacity: 0;
      // transition: color 0.5s, opacity 0.5s 0.5s;
      // animation: none;
      transform: scale(0);
      transition: opacity 0.5, transform 0.5s;
      // &:hover {
      //   animation: colorTransition 0.5s forwards;
      // }
    }

    .fa-heart {
      color: $color-danger;
    }

    .fa-share-nodes {
      color: $color-main;
    }

    &:hover .overlay {
      opacity: 1;

      .fa-heart {
        color: $color-danger;
        opacity: 1;
        transform: scale(1);
        transition: opacity 1s 0.4s, transform 1s 0.4s;
      }

      .fa-share-nodes {
        color: $color-main;
        opacity: 1;
        transform: scale(1);
        transition: opacity 0.5s 0.2s, transform 0.5s 0.2s;
      }
    }
    &:not(:hover) .overlay {
      opacity: 0;
      transition: opacity 0.7s;

      .fa-heart {
        // opacity: 0;
        transform: scale(0);
        transition: opacity 1s, transform 1s;
      }
      .fa-share-nodes {
        opacity: 0;
        transform: scale(0.8);
        transition: opacity 1s, transform 1s;
      }
    }
  }
}
// @keyframes colorTransition {
//   from {
//     color: $color-light;
//   }
//   to {
//     color: $color-main;
//   }
// }

//   .instagram-link {
//     margin-top: 20px;

//     a {
//       text-decoration: none;
//       color: #000;
//       font-weight: bold;
//       border-bottom: 2px solid #000;

//       &:hover {
//         color: #d9534f;
//         border-bottom: 2px solid #d9534f;
//       }
//     }
//   }
